@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

#app {
  width: 800px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  text-align: center;
}

#app h1 {
  font-size: 40px;
}

#app #nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
}

#app #nav a {
  display: block;
  width: 100%;
  height: 50px;
  background: #ff4081;
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  margin: 1px;
}
#app #nav a.router-link-exact-active {
  background: #f8bbd0;
  color: #000;
}

#app #routerView {
  background: #f9f9f9;
}

#app #page1 {
  width: 100%;
  height: 500px;
  line-height: 500px;
  background: linear-gradient(45deg, #e66465, #9198e5);
  font-size: 30px;
}
#app #page2 {
  width: 100%;
  height: 500px;
  line-height: 500px;
  background: linear-gradient(45deg, #a16bfe, #deb0df);
  font-size: 30px;
}
#app #page3 {
  width: 100%;
  height: 500px;
  line-height: 500px;
  background: linear-gradient(45deg, #bc3d2f, #a16bfe);
  font-size: 30px;
}
