<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="publisher" content="웹디자인실기예상문제" />
    <title>유진건설</title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./script/vue.js"></script>
  </head>
  <body>
    <div id="wrap">
      <header id="header">
        <div class="left">
          <a href="#" class="logo-btn" title="HOME"
            ><img src="./images/logo.png" alt="logo"
          /></a>
        </div>
        <div class="right">
          <nav id="nav">
            <div class="sb-bg"></div>
            <ul>
              <li>
                <a href="#" class="main-btn" title="회사소개">회사소개</a>
                <div class="sub sub1">
                  <ul>
                    <li><a href="#" title="인사말">인사말</a></li>
                    <li><a href="#" title="조직구성도">조직구성도</a></li>
                    <li><a href="#" title="오시는길">오시는길</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#" class="main-btn" title="사업영역">사업영역</a>
                <div class="sub sub2">
                  <ul>
                    <li><a href="#" title="전원주택">전원주택</a></li>
                    <li><a href="#" title="도시재생">도시재생</a></li>
                    <li><a href="#" title="인테리어">인테리어</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#" class="main-btn" title="입주정보">입주정보</a>
                <div class="sub sub3">
                  <ul>
                    <li><a href="#" title="입주단지">입주단지</a></li>
                    <li><a href="#" title="입주캘린더">입주캘린더</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#" class="main-btn" title="고객센터">고객센터</a>
                <div class="sub sub4">
                  <ul>
                    <li><a href="#" title="공지사항">공지사항</a></li>
                    <li><a href="#" title="건축상담">건축상담</a></li>
                    <li><a href="#" title="홍보자료실">홍보자료실</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- 컴포넌트 구축 : 모듈화 작업 -->

      <main-component>
        <main-section1-component></main-section1-component>
        <main-section2-component>
          <main-section2-left-component></main-section2-left-component>
          <main-section2-center-component></main-section2-center-component>
          <main-section2-right-component></main-section2-right-component>
        </main-section2-component>
      </main-component>
      <!-- <main id="main">
       
      </main> -->
      <footer-component>
        <footer-left-component></footer-left-component>
        <footer-right-component></footer-right-component>
      </footer-component>

      <!-- 레이어 팝업 창 -->
      <div id="popup">
        <div class="wrap">
          <h1>공지사항 팝업창</h1>
          <ul>
            <li>
              2021 한국조폐공사 창립 70주년 기념 대국민 영상공모전 수상작 발표
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <button class="close-btn">× 닫기</button>
        </div>
      </div>
    </div>

    <!-- --------------------- -->

    <script>
      const eventBus = new Vue(); //이벤트버스 생성

      const mainComponent = {
        template:
          '\
          <main id="main">\
            <slot></slot>\
              </main>\
          ',
      };

      const mainSection1Component = {
        template: `\
          <section id="section1">\
            <div class="slide-container">\
                <div class="slide-view">\
                 <ul class="slide-wrap">\
                    <li v-for="(i, index) in slideArr" :key="i.index" @click="slideEvent(i.item3)">
                        <img :class="i.item1+' '+i.item2" :src="i.item3" alt=""></img>
                    </li>
                    
                 </ul>\
                 </div>\
             </div>\
            </section>\
          `,
        data: function () {
          return {
            slideArr: [
              { item1: "slide", item2: "slide3", item3: "./images/slide3.jpg" },
              { item1: "slide", item2: "slide1", item3: "./images/slide1.jpg" },
              { item1: "slide", item2: "slide2", item3: "./images/slide2.jpg" },
              { item1: "slide", item2: "slide3", item3: "./images/slide3.jpg" },
              { item1: "slide", item2: "slide1", item3: "./images/slide1.jpg" },
            ],
          };
        },
        methods: {
          slideEvent: function (src) {
            eventBus.$emit("emitEvent", src);
          },
        },
      };

      const mainSection2Component = {
        template:
          ' <section id="section2">\
            <slot></slot>\
        </section>',
      };
      const mainSection2LeftComponent = {
        template:
          '<div class="left">\
            <div class="gap">\
              <div class="notice">\
                <div class="notice-wrap">\
                  <button class="notice-btn">공지사항</button>\
                  <ul class="notice-list">\
                    <li v-for="i in notice" :key="i.id">\
                      <a href="#"\
                        title="i.title">\
                        {{i.title}}</a>\
                      <span>{{i.date}}</span>\
                    </li>\
                  </ul>\
                </div>\
              </div>\
            </div>\
          </div>',
        data: function () {
          return {
            notice: [
              {
                id: 0,
                title:
                  "2021 한국조폐공사 창립 70주년 기념 대국민 영상공모전 수상작 발표",
                date: "2021-07-09",
              },
              {
                id: 1,
                title: "상생협력센터 「콤비(KOMBI)」 입주기업 모집",
                date: "2021-07-09",
              },
              {
                id: 2,
                title: "한국조폐공사 창립 70주년 기념 대국민 영상공모전",
                date: "2021-07-09",
              },
              {
                id: 3,
                title: "국민참여예산 집중접수 개시 연장 알림",
                date: "2021-07-09",
              },
            ],
          };
        },
      };
      const mainSection2CenterComponent = {
        template:
          '\
        <div class="center">\
            <div class="gap">\
              <div class="gallery">\
                <div class="gallery-wrap">\
                  <button class="gallery-btn">갤러리</button>\
                  <ul class="gallery-list">\
                    <li v-for="i in 3">\
                      <div></div>\
                    </li>\
                  </ul>\
                </div>\
              </div>\
            </div>\
          </div>',
        data: function () {
          return {};
        },
      };

      const mainSection2RightComponent = {
        template:
          '\
        <div class="right">\
         <div class="gap">\
           <div class="hotlink">\
             <a href="#" title="Hot link">\
               <span><em v-show="txtShow">쇼핑몰</em><img v-show="imgShow" :src="imgSrc"/></span>\
             </a>\
           </div>\
         </div>\
       </div>',
        data: function () {
          return {
            txtShow: true,
            imgShow: false,
            imgSrc: "",
          };
        },
        created: function () {
          eventBus.$on("emitEvent", (src) => {
            (this.txtShow = false), (this.imgShow = true), (this.imgSrc = src);
          });
        },
      };

      const footerComponent = {
        template: `<footer id="footer">
          <slot></slot>
          </footer>
        `,
      };

      const footerLeftComponent = {
        template: `
        <div class="left">
          <div class="top">
            <span v-for="i in left" :key="i.id"><a href="#" title="i.title">{{i.title}}</a></span>
          </div>
          <div class="bottom">
            <p>&copy;Copyright Thejoeun Academy Computer Institute co.kr</p>
          </div>
        </div>`,
        data: function () {
          return {
            left: [
              { id: 0, title: "개인정보처리방침" },
              { id: 0, title: "정보통신보호법" },
              { id: 0, title: "이메일무단수집거부" },
              { id: 0, title: "금융중개지원대출" },
              { id: 0, title: "개인정보처리방침" },
              { id: 0, title: "기업정보조회" },
            ],
          };
        },
      };

      const footerRightComponent = {
        template: `
        <div class="right">
          <div class="family-box">
            <form name="family_form" id="familyForm">
              <select name="family" id="family">
                <option v-for="i in options" :key="i.id" value="i.value">{{i.title}}</option>
              </select>
            </form>
          </div>
        </div>`,
        data: function () {
          return {
            options: [
              { id: 0, value: "", title: "패밀리사이트" },
              {
                id: 1,
                value: "https://www.bok.or.kr/museum/main/",
                title: "한국은행화폐박물관",
              },
              { id: 2, value: "https://www.komsco.com/", title: "조폐공사" },
              {
                id: 3,
                value: "http://www.tjoeun.co.kr/",
                title: "더조은아카데미컴퓨터",
              },
              {
                id: 4,
                value: "http://www.kimyoung.co.kr/",
                title: "김영편입학원",
              },
              {
                id: 5,
                value: "https://www.megastudy.net/",
                title: "메가스터디",
              },
            ],
          };
        },
      };

      new Vue({
        el: "#wrap",
        data: {},
        components: {
          "main-component": mainComponent,
          "main-section1-component": mainSection1Component,
          "main-section2-component": mainSection2Component,
          "main-section2-left-component": mainSection2LeftComponent,
          "main-section2-center-component": mainSection2CenterComponent,
          "main-section2-right-component": mainSection2RightComponent,
          "footer-component": footerComponent,
          "footer-left-component": footerLeftComponent,
          "footer-right-component": footerRightComponent,
        },
      });
    </script>
  </body>
</html>
